<header>
    <div class="profile-page sidebar-collapse">
      <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
        <div class="container">
          <div class="navbar-translate"><a class="navbar-brand" href="#" rel="tooltip"></a>
            <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
          </div>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">Acerca de mí</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#skill">Habilidades</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#portfolio">Portafolio</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#experience">Experiencia</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#contact">Contactame</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <div class="page-content">
    <div>
<div class="profile-page">
<div class="wrapper">
  <div class="page-header page-header-small" filter-color="green">
    <div class="page-header-image" data-parallax="true" style="background-image: url('images/cc-bg-1.jpg');"></div>
    <div class="container">
      <div class="content-center">
        <div class="cc-profile-image"><a href="#"><img src="assets/images/profile.jpg" alt="Image"/></a></div>
        <div class="h2 title">Daniel Fernando Londoño Sánchez</div>
        <p class="category text-white">Desarrollador Web - Movil, Software Personalizado</p><a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Contacta me</a><!--<a class="btn btn-primary" href="#" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Descarga CV</a>-->
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="button-container">
          <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.facebook.com/daniel.l.sanchez.501" rel="tooltip" title="Follow me on Facebook">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="btn btn-default btn-round btn-lg btn-icon" href="https://twitter.com/daniel_lsanchez" rel="tooltip" title="Follow me on Twitter">
            <i class="fa fa-twitter"></i>
          </a>
          <!-- <a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Google+">
            <i class="fa fa-google-plus"></i>
          </a> -->
          <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/daniellondonosanchez/" rel="tooltip" title="Follow me on Instagram">
            <i class="fa fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="section" id="about">
<div class="container">
  <div class="card" data-aos="fade-up" data-aos-offset="10">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card-body">
          <div class="h4 mt-0 title">Acerca de mí</div>
          <p>Hola! Soy Daniel Londoño. Desarrollador Web y Móvil.</p>
          <p>Soy apasionado por el mundo de la tecnología, me gusta investigar y estar al día en mis habilidades como desarrollador para poder ofrecer un servicio y producto con la mejor
            calidad y garantía. </p><!--<a href="https://templateflip.com/templates/creative-cv/" target="_blank">Learn More</a>-->
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="card-body">
          <div class="h4 mt-0 title">Información Básica</div>
          <div class="row">
            <div class="col-sm-4"><strong class="text-uppercase">Edad:</strong></div>
            <div class="col-sm-8">28</div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-4"><strong class="text-uppercase">Correo:</strong></div>
            <div class="col-sm-8">daniellondonosanchez@hotmail.com</div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-4"><strong class="text-uppercase">Telefono:</strong></div>
            <div class="col-sm-8">+57 (300) 489 19 05</div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-4"><strong class="text-uppercase">Dirección:</strong></div>
            <div class="col-sm-8">Calle 66 #43-47 La esmeralda. Itagui-Antioquia</div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-4"><strong class="text-uppercase">Language:</strong></div>
            <div class="col-sm-8">Español - Ingles(intermedio)</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="section" id="skill">
<div class="container">
  <div class="h4 text-center mb-4 title">Habilidades Profesionales</div>
  <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">HTML</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div><span class="progress-value">80%</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">CSS</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div><span class="progress-value">75%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">JavaScript</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div><span class="progress-value">60%</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">SASS</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div><span class="progress-value">60%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">Bootstrap</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div><span class="progress-value">75%</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">Photoshop</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div><span class="progress-value">30%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">C# .NetCore</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div><span class="progress-value">75%</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">Xamarin</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 35%;"></div><span class="progress-value">35%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">Delphi</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div><span class="progress-value">50%</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">PowerBuilder</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div><span class="progress-value">50%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">Angular</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div><span class="progress-value">85%</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">IonicFramework</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div><span class="progress-value">85%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">MySQL</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div><span class="progress-value">85%</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">Transact SQL</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div><span class="progress-value">85%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="section" id="portfolio">
<div class="container">
  <div class="row">
    <div class="col-md-6 ml-auto mr-auto">
      <div class="h4 text-center mb-4 title">Portfolio</div>
      <div class="nav-align-center">
        <ul class="nav nav-pills nav-pills-primary" role="tablist">
          <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#web-development" role="tablist"><i class="fa fa-laptop" aria-hidden="true"></i></a></li>
          <!-- <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#graphic-design" role="tablist"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>
          <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Photography" role="tablist"><i class="fa fa-camera" aria-hidden="true"></i></a></li> -->
        </ul>
      </div>
    </div>
  </div>
  <div class="tab-content gallery mt-5">
    <div class="tab-pane active" id="web-development">
      <div class="ml-auto mr-auto">
        <div class="row">
          <div class="col-md-6">
            <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                <figure class="cc-effect"><img src="assets/images/DESCARGA LA APP2.jpg" alt="Image"/>
                  <figcaption>
                    <div class="h4">Freshfood Market</div>
                    <p>Aplicación Movíl</p>
                  </figcaption>
                </figure></a></div>
            <!-- <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                <figure class="cc-effect"><img src="assets/images/project-2.jpg" alt="Image"/>
                  <figcaption>
                    <div class="h4">Startup Project</div>
                    <p>Web Development</p>
                  </figcaption>
                </figure></a></div> -->
          </div>
          <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                  <figure class="cc-effect"><img src="assets/images/plazapp.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Plazapp</div>
                      <p>Aplicación Web y Móvil</p>
                    </figcaption>
                  </figure></a></div>
          <!--  <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                <figure class="cc-effect"><img src="assets/images/project-4.jpg" alt="Image"/>
                  <figcaption>
                    <div class="h4">Web Advertising Project</div>
                    <p>Web Development</p>
                  </figcaption>
                </figure></a></div>-->
          <!-- </div>  -->
        </div>
      </div>
    </div>
    <!-- <div class="tab-pane" id="graphic-design" role="tabpanel">
      <div class="ml-auto mr-auto">
        <div class="row">
          <div class="col-md-6">
            <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                <figure class="cc-effect"><img src="assets/images/graphic-design-1.jpg" alt="Image"/>
                  <figcaption>
                    <div class="h4">Triangle Pattern</div>
                    <p>Graphic Design</p>
                  </figcaption>
                </figure></a></div>
            <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                <figure class="cc-effect"><img src="assets/images/graphic-design-2.jpg" alt="Image"/>
                  <figcaption>
                    <div class="h4">Abstract Umbrella</div>
                    <p>Graphic Design</p>
                  </figcaption>
                </figure></a></div>
          </div>
          <div class="col-md-6">
            <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                <figure class="cc-effect"><img src="assets/images/graphic-design-3.jpg" alt="Image"/>
                  <figcaption>
                    <div class="h4">Cube Surface Texture</div>
                    <p>Graphic Design</p>
                  </figcaption>
                </figure></a></div>
            <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                <figure class="cc-effect"><img src="assets/images/graphic-design-4.jpg" alt="Image"/>
                  <figcaption>
                    <div class="h4">Abstract Line</div>
                    <p>Graphic Design</p>
                  </figcaption>
                </figure></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="Photography" role="tabpanel">
      <div class="ml-auto mr-auto">
        <div class="row">
          <div class="col-md-6">
            <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#Photography">
                <figure class="cc-effect"><img src="assets/images/photography-1.jpg" alt="Image"/>
                  <figcaption>
                    <div class="h4">Photoshoot</div>
                    <p>Photography</p>
                  </figcaption>
                </figure></a></div>
            <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#Photography">
                <figure class="cc-effect"><img src="assets/images/photography-3.jpg" alt="Image"/>
                  <figcaption>
                    <div class="h4">Wedding Photoshoot</div>
                    <p>Photography</p>
                  </figcaption>
                </figure></a></div>
          </div>
          <div class="col-md-6">
            <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#Photography">
                <figure class="cc-effect"><img src="assets/images/photography-2.jpg" alt="Image"/>
                  <figcaption>
                    <div class="h4">Beach Photoshoot</div>
                    <p>Photography</p>
                  </figcaption>
                </figure></a></div>
            <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#Photography">
                <figure class="cc-effect"><img src="assets/images/photography-4.jpg" alt="Image"/>
                  <figcaption>
                    <div class="h4">Nature Photoshoot</div>
                    <p>Photography</p>
                  </figcaption>
                </figure></a></div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
</div>
<div class="section" id="experience">
<div class="container cc-experience">
  <div class="h4 text-center mb-4 title">Experiencia De Trabajo</div>
  <div class="card">
    <div class="row">
      <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
        <div class="card-body cc-experience-header">
          <p>2012 - 2016</p>
          <div class="h5">DSI Software</div>
        </div>
      </div>
      <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
        <div class="card-body">
          <div class="h5">Tester, Soporte Telefónico, Desarrollador De Software (PowerBuilder), Capacitador De Software</div>
          <p>Punto de partida de mi carrera como Desarrollador De Software, en esta compañía inicié dando soporte a los aplicativos que se manejan, seguido a esto pude aprender a desarrollar 
            software en la herramienta PowerBuilder y logre implementar aplicaciones para las empresas que se desempeñan en el sector de producción textil.
            Uno de mis mayores retos fué lograr sistematizar una planta de producción donde se trabajaba la estampación, sublimación y transfer controlando todos sus
            procesos y tiempos de producción por medio del aplicativo. Implementé el manejo de nuevos motores de bases de datos en los aplicativos
            con SQL Server y MySQL aportando mayor rendimiento en los tiempos de respuestas que presentaban los aplicativos a los clientes.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="row">
      <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
        <div class="card-body cc-experience-header">
          <p>2016 - 2017</p>
          <div class="h5">Colsoft IT SAS</div>
        </div>
      </div>
      <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
        <div class="card-body">
          <div class="h5">Desarrollador Web - Móvil - Desarrollador Delphi</div>
          <p>Se realizó desarrollo de aplicativos internos de la compañía como: Gestor Documental, Proyecto Master Trip(App - Movil), Sofware Smile (Delphi),
            En esta empresa tuve la oportunidad de recibir el código del aplicativo móvil que se estaba desarrollando y analizarlo, encontrando en este
            fallas y faltas de implementaciones en seguridad y funcionamiento los cuales impedían la salida a producción de éste para ser un producto de calidad.
            Se creó un plan de trabajo para la solución de los errores encontrados. Se trabaja en el software de agendamiento de citas Smile implementando nuevas
            funcionalidades y mejoras que permitieron una mejor administración del sistema, tanto para el usuario final como para la compañía.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="row">
      <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
        <div class="card-body cc-experience-header">
          <p>2017 - Actual Mente</p>
          <div class="h5">Visionamos</div>
        </div>
      </div>
      <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
        <div class="card-body">
          <div class="h5">Desarrollador Móvil (IonicFramework) - Web y Desarrollador delphi</div>
          <p>En Visionamos he tenido la oportunidad de desempeñarme como desarrollador móvil (IonicFramework) 
            creando el Aplicativo Movil Red Coopcentral, el cual, permite a las cooperativas brindarles a sus asociados un canal
            para controlar sus cuentas y transacciones financieras de una manera fácil y ágil. Se ha aportado en el desarrollo
            del sistema Multi Portal Transaccional implementando soluciones para mejorar el funcionamiento de este. Ayudo en el
            desarrollo del Core transaccional ECGTS implementando mejoras y nuevas características a este.
            En proyectos independientes he realizado el software KeyPos para la gestión de las configuraciones requeridas por 
            los dispositivos (Datafonos y Pinpad). Se implemento la solución de las transacciones sin tarjeta con ACH agregando
            una característica de valor para los productos que ofrece la compañía.            
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="section">
<div class="container cc-education">
  <div class="h4 text-center mb-4 title">Educación</div>
  <div class="card">
    <div class="row">
      <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
        <div class="card-body cc-education-header">
          <p>2008</p>
          <div class="h5">Secundaria</div>
        </div>
      </div>
      <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
        <div class="card-body">
          <div class="h5">Bachiller Académico</div>
          <p class="category">Institución Educativa San Luis Gonzaga</p>
          <p>Secundaria Básica</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="row">
      <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
        <div class="card-body cc-education-header">
          <p>2013</p>
          <div class="h5">Tecnologo Informatico</div>
        </div>
      </div>
      <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
        <div class="card-body">
          <div class="h5">Tecnólogo Informático</div>
          <p class="category">Institución Universitaria Pascual Bravo</p>
          <p>Tecnólogo Informático</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="row">
      <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
        <div class="card-body cc-education-header">
          <p>2019</p>
          <div class="h5">Escolme</div>
        </div>
      </div>
      <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
        <div class="card-body">
          <div class="h5">Administrador De Sistemas Informáticos</div>
          <p class="category">Institución Universitaria Escolme</p>
          <p>Administrador De Sistemas Informáticos.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--
<div class="section" id="reference">
<div class="container cc-reference">
  <div class="h4 mb-4 text-center title">Referencias</div>
  <div class="card" data-aos="zoom-in">
    <div class="carousel slide" id="cc-Indicators" data-ride="carousel">
      <ol class="carousel-indicators">
        <li class="active" data-target="#cc-Indicators" data-slide-to="0"></li>
        <li data-target="#cc-Indicators" data-slide-to="1"></li>-->
        <!-- <li data-target="#cc-Indicators" data-slide-to="2"></li> -->
<!-- </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-lg-2 col-md-3 cc-reference-header"><img src="assets/images/reference-image-1.jpg" alt="Image"/>
              <div class="h5 pt-2">Juan Pablo Osorio</div>
              <p class="category">Gerente Fundador Colsoft IT SAS</p>
            </div>
            <div class="col-lg-10 col-md-9">
              <p> Habitasse venenatis commodo tempor eleifend arcu sociis sollicitudin ante pulvinar ad, est porta cras erat ullamcorper volutpat metus duis platea convallis, tortor primis ac quisque etiam luctus nisl nullam fames. Ligula purus suscipit tempus nascetur curabitur donec nam ullamcorper, laoreet nullam mauris dui aptent facilisis neque elementum ac, risus semper felis parturient fringilla rhoncus eleifend.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-2 col-md-3 cc-reference-header"><img src="assets/images/reference-image-2.jpg" alt="Image"/>
              <div class="h5 pt-2">Alvaro Emilio Perez Perez</div>
              <p class="category">Gerente Fundador DSI Software</p>
            </div>
            <div class="col-lg-10 col-md-9">
              <p> Habitasse venenatis commodo tempor eleifend arcu sociis sollicitudin ante pulvinar ad, est porta cras erat ullamcorper volutpat metus duis platea convallis, tortor primis ac quisque etiam luctus nisl nullam fames. Ligula purus suscipit tempus nascetur curabitur donec nam ullamcorper, laoreet nullam mauris dui aptent facilisis neque elementum ac, risus semper felis parturient fringilla rhoncus eleifend.</p>
            </div>
          </div>
        </div> -->
        <!-- <div class="carousel-item">
          <div class="row">
            <div class="col-lg-2 col-md-3 cc-reference-header"><img src="assets/images/reference-image-3.jpg" alt="Image"/>
              <div class="h5 pt-2">Alexander</div>
              <p class="category">CEO / Webnote</p>
            </div>
            <div class="col-lg-10 col-md-9">
              <p> Habitasse venenatis commodo tempor eleifend arcu sociis sollicitudin ante pulvinar ad, est porta cras erat ullamcorper volutpat metus duis platea convallis, tortor primis ac quisque etiam luctus nisl nullam fames. Ligula purus suscipit tempus nascetur curabitur donec nam ullamcorper, laoreet nullam mauris dui aptent facilisis neque elementum ac, risus semper felis parturient fringilla rhoncus eleifend.</p>
            </div>
          </div>
        </div> -->
      <!-- </div>
    </div>
  </div>
</div>
</div> -->
<div class="section" id="contact">
<div class="cc-contact-information" style="background-image: url('images/staticmap.png');">
  <div class="container">
    <div class="cc-contact">
      <div class="row">
        <div class="col-md-9">
          <div class="card mb-0" data-aos="zoom-in">
            <div class="h4 text-center title">Contacta Me</div>
            <div class="row">
              <div class="col-md-6">
                <div class="card-body">
                  <form [formGroup]="formContacto" >
                    <div class="p pb-3"><strong>Sientete libre en contactarme </strong></div>
                    <div class="row mb-3">
                      <div class="col">
                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                          <input class="form-control" formControlName="nombre" [(ngModel)]="formularioDatos.nombre" type="text" name="nombre" placeholder="Nombre" required="required"/>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col">
                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                          <input class="form-control" type="text" formControlName="asunto" [(ngModel)]="formularioDatos.asunto" name="asunto" placeholder="Asunto" required="required"/>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col">
                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                          <input class="form-control" type="email" formControlName="correo" [(ngModel)]="formularioDatos.correo" name="correo" placeholder="Correo Electronico" required="required"/>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col">
                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-phone"></i></span>
                          <input class="form-control" type="number" formControlName="telefono" [(ngModel)]="formularioDatos.telefono" name="telefono" placeholder="Telefono" required="required"/>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col">
                        <div class="form-group">
                          <textarea class="form-control" name="mensaje" formControlName="mensaje" [(ngModel)]="formularioDatos.mensaje" placeholder="Tu Mensaje" required="required"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <button class="btn btn-primary" type="submit" [disabled]="!formContacto.valid" (click)="submitContactMe()">Enviar</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <p class="mb-0"><strong>Dirección </strong></p>
                  <p class="pb-2">Calle 66 #43-47 La esmeralda Itagui-Antioquia-Colombia</p>
                  <p class="mb-0"><strong>Telefono</strong></p>
                  <p class="pb-2">+57 (300) 489 19 05</p>
                  <p class="mb-0"><strong>Correo Electronico</strong></p>
                  <p>daniellondonosanchez@hotmail.com</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div></div>
  </div>
  <footer class="footer">
    <div class="container text-center">
      <a class="cc-facebook btn btn-link" href="https://www.facebook.com/daniel.l.sanchez.501">
        <i class="fa fa-facebook fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-twitter btn btn-link " href="https://twitter.com/daniel_lsanchez">
        <i class="fa fa-twitter fa-2x " aria-hidden="true"></i>
      </a>
      <!-- <a class="cc-google-plus btn btn-link" href="#">
        <i class="fa fa-google-plus fa-2x" aria-hidden="true"></i>
      </a> -->
      <a class="cc-instagram btn btn-link" href="https://www.instagram.com/daniellondonosanchez/">
        <i class="fa fa-instagram fa-2x " aria-hidden="true"></i>
      </a>
    </div>
    <div class="h4 title text-center">Daniel Fernando Londoño Sánchez</div>
    <div class="text-center text-muted">
      <p>&copy; Creative CV. All rights reserved.<br>Design - <a class="credit" href="https://templateflip.com" target="_blank">TemplateFlip</a></p>
    </div>
  </footer>
